body{
    background-color: #242424;

    margin: 0%;
    padding: 0%;

}

.carousel-item{
    height: 400px;
}

.d-block{
    /* Regler avec la taille de l'ecran après */
    margin-top : -15%;
}

.text 
{ 
margin-left: 22px; 
}
.text3 
{ 
    margin-top: 30px;
font-size: 15px;
margin-left: 10px;
}

.text4 
{ 
margin-top: 30px;
font-size: 15px;
margin-left: 10px;
float: left;
}

.bas{

    margin-left: 25%;
    bottom: 10px;

}


.text2 
{ 
    position: right;
margin-left: 22px;
font-size: small;
}
.heure{
    margin-right: 62px;
}
#Caroussel_text{
    position: absolute;
    top: 60%; 
    left: 15%;
    color : white;
    font-size: 25px;
}

#Section{
    
    margin-top: 20px;
    border-radius: 10px;
    margin-left : 10%;
    width: 80%;
    background-color: #353535;
    color : white;  
}

#Section2{
    
    background-image:url(ImagesCaroussel/Img_car3.jpg);
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    position: absolute;
    color : white;
    font-size: 50px;
    padding: 2%;
    
}

#Section3{
    
    position: relative;
    margin-top: 15%;
    border-radius: 10px;
    margin-left : 10%;
    width: 80%;
    height: 300px;
    background-color: #353535;
    color : white;  
}

#Section4{

    position: relative;
    margin-top: 15%;
    border-radius: 10px;
    margin-left : 8%;
    width: 15%;
    height: 300px;
    background-color: #353535;
    color : white;  
}
#Section5{

    position: relative;
    margin-top: 15%;
    border-radius: 10px;
    margin-left : 77%;
    width: 15%;
    height: 300px;
    background-color: #353535;
    color : white;  
}

.gauche{
    float: left;
  }
  .droite{
    float: right;
  }
  

#Recherche{

    padding: 2%;
    color : white;
    font-size: 50px;   
}

#RDV{
    
     padding: 2%;
     color : white;
     font-size: 20px;
     
 }
 #Annulation{
    
    padding: 2%;
    color :#353535;
    background-color:white;
    font-size: 20px;
    
}

.wlcm_title{
    margin-top: 2%;
    text-align: center;
}

#wlcm_txt{
    text-align: center;
}

#wlcm_txt_div{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#footer{
    
    text-align: center;
    color : white;
    padding: 20px;
    margin-bottom: 0px;
    width : 100%;
    background-color :darkslategrey;

    
}

#col_2{
    text-align: left;
}

.Cadre{
    position: relative;
    height: 300px;
    background: linear-gradient(90deg, rgb(150, 114, 141) , rgb(150, 114, 141) , rgb(150, 114, 141) , #242424,#242424);
    left : 10%;
    width: 90%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.img_Parc{
    float: left;
    max-height : 100%;
    object-fit: fill;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.Cadre2{
    position: relative;
    height: 300px;
    background: linear-gradient(-90deg, #8bbae98f , #8bbae98f  , #8bbae98f  , #242424,#242424);
    right : 10%;
    width: 90%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



.img_Parc2{
    float : right;
    max-height : 100%;
    object-fit: fill;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#SectionParcour{
    margin-top: 20px;
    color : white;
}

#btnParc1{
    position:absolute;
    border-color: rgb(254, 162, 231);
    color: rgb(254, 162, 231);
    left : 5%;
    top : 80%;
}

#btnParc2{
    position:absolute;
    border-color: rgb(159, 255, 255);
    color: rgb(159, 255, 255);
    right : 5%;
    top : 80%;
}

.titlePar1{
    position:absolute;
    left : 3%;
    top : 20%;
}

.titlePar2{
    position:absolute;
    right : 3%;
    top : 20%;
}

#btnParc3{
    position:absolute;
    border-color: rgb(254, 162, 231);
    color: rgb(254, 162, 231);
    left : 5%;
    top : 80%;
    
}

#btnParc4{
    border-color: rgb(254, 162, 231);
    color: rgb(254, 162, 231);
    left : 5%;
    top : 80%;
    float: right;
    margin-right: 60px;;

}

#btnParc5{
    border-color: rgb(254, 162, 231);
    color: rgb(254, 162, 231);
    left : 5%;
    top : 40%;
    float: right;
    margin-right: 60px;
    margin-top: 80%;

}
#btnParc6{
    border-color: rgb(254, 162, 231);
    color: rgb(254, 162, 231);
    left : 5%;
    top : 40%;
    float: right;
    margin-right: 60px;
    margin-top: 180px;

}

#back{
    background-color: #242424;
   
}

#form-label{
    float: left;
}

.cropped2 {
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    object-position: center; 
    border-radius: 50%;
    /*border: solid 2px rgb(254, 162, 231);*/
}

.img-circle{
    background-size : contain;
    object-fit: fill; 
}

#SectionEnseignants{
    position: relative;
    width: 80%;
    left: 10%;
    top : -100px;
    color :white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Enseignants{
    border-radius: 10000px;
    background-color: #171122;
    width: 100%;
    height: auto;
    border : solid 5px white;
}

#EnTete{
    width: 100;
    height: 300px;
    background: linear-gradient(-45deg, #8bbae9 ,#FF83CD);
    margin: 0%;
}